.swiper {
  width: 600px;
  height: 425px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}



@media only screen and (max-width: 660px) {
  .swiper {
    width: 355px;
    height: 251px;
  }
}